  /* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
} */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}


nav.top-nav {
        position: fixed;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        width: min(1400px, calc(100% - 32px));
        display: flex;
        justify-content: center;
        pointer-events: none;
      }

      nav.top-nav .nav-inner {
        pointer-events: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: transparent;
        backdrop-filter: none;
        padding: 8px 16px;
        border-radius: 10px;
        
      }

      .nav-left,
      .nav-center,
      .nav-right {
        display: flex;
        align-items: center;
        gap: 12px;
      }

      .nav-left { 
        flex: 1 1 300px;
        display: flex; 
        justify-content: flex-start;
    }
      .nav-center { 
        flex: 0 0 500px; 
        justify-content: center;
        background-color: white;
        padding: 6px 12px;
        border-radius: 20px;
        gap: 55px;
        width: 500px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
      .nav-right {
         flex: 1 1 300px;
         display: flex;
         justify-content: flex-end;
         width: auto; 
        }

      nav .logo img {
        height: 80px;
        width: auto;
        display: block;
      }

      

      .nav-center a {
        color: #000000;
        text-decoration: none;
        padding: 6px 10px;
        border-radius: 6px;
        font-weight: bold;
      }

      .nav-center a:hover {
        background: rgba(255,255,255,0.06);
      }

      .search-btn {
        background: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        padding: 6px;
      }

      .search-btn svg { 
        width: 40px; 
        height: 40px; 
        fill: currentColor; 
    }